    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="logo"><a href="#">MIPGroup <span>Mix In Plus Group</span></a></h2>
              <p>Chez MIP GROUP SARLU, nous nous engageons à fournir des solutions juridiques et fiscales sur mesure, 
                adaptées aux besoins spécifiques de chaque client, qu’il soit une institution publique, une entreprise 
                privée ou une organisation internationale.
              </p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Nos champs d'expertise </h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Administration publique</a></li>
                <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Secteur de la santé</a></li>
                <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Secteur de l’environnement</a></li>
                <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Monde des affaires</a></li>
                <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Marchés publics, PPP et contrats</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Voulez vous nous rencontrer?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Université Gamal Abdel Nasser de Conakry, Republic de guinée</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+224 627 401 733</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">contact@mipgroup-expert.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Nos heures d'ouvertures</h2>
              <div class="opening-hours">
              	<h4>Jours Ouvrables:</h4>
              	<p class="pl-3">
              		<span>Lundi – Vendredi : 8h à 16h-30min</span>
              		<span></span>
              	</p>
              	<h4>Congés:</h4>
              	<p class="pl-3">
              		<span>Tous les samedis et Dimanches</span>
              		<span>Tous les jours feriés</span>
              	</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> MIP Group Expert. All rights reserved | template <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>