{% extends 'baseS.html' %}

{% load static %}

{% block content %}

    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "assetsS/images/img.png" %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Politique des Prix</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Case Studies <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-section ftco-degree-bg">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-8 ftco-animate">
			<h2 class="mb-3">Politique des Prix</h2>
			<div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#public" class="tag-cloud-link"> Etablissement Public </a>
                <a href="#societe" class="tag-cloud-link"> Société/Entreprises </a>
                <a href="#tout" class="tag-cloud-link"> Tout Organisme </a>
              </div>
            </div>
			<p>Notre politique de prix est conçue pour être transparente et équitable, garantissant que nos clients reçoivent un service de qualité à un prix compétitif. Nous croyons en la clarté des coûts et en l'absence de frais cachés.</p>
			<p>Nous offrons une gamme de services juridiques adaptés aux besoins de nos clients, avec des tarifs clairement définis pour chaque service. Notre objectif est de fournir une valeur exceptionnelle tout en maintenant les normes les plus élevées de professionnalisme et d'éthique.</p>
		  </div>
		</div>
	  </div>
		<section class="ftco-section">
    	<div class="container">
			<center><h2 class="mb-3" id="public">Etablissement Public</h2></center>
        <div class="row d-flex justify-content-center">
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-book"></span>
        			</div>
        			<h3><a href="#">Manuel de Procedure</a></h3> <br>
        			<p>150.000.000 GNF</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-scroll"></span>
        			</div>
        			<h3><a href="#">Statut (projet) et Règlement Intérieur</a></h3>
        			<p>25.990.000 GNF</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-lightbulb"></span>
        			</div>
        			<h3><a href="#">Plan d’Action, Macro-Planning</a></h3>
        			<p>6.000.000 GNF</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-folder-open"></span>
        			</div>
        			<h3><a href="#">Gestion des achats</a></h3>  <br> 
        			<p>A négocier</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-file-invoice-dollar"></span>
        			</div>
        			<h3><a href="#">DAO, Cahier des Charges (Marchés Publics, PPP)</a></h3> <br> 
        			<p>6.990.000 GNF/Doc</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-briefcase"></span>
        			</div>
        			<h3><a href="#">Contrats Types Marchés Publics ou PPP</a></h3> <br> 
        			<p>4.990.000 GNF/Cont</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-user-tie"></span>
        			</div>
        			<h3><a href="#">Conseil externalisé(fiscal, comptable, environnement)</a></h3>
        			<p>A négocier</p>
        		</div>
        	</div>
        	
        </div>
    	</div>
    </section>

		<section class="ftco-section">
    	<div class="container">
			<center><h2 class="mb-3" id="societe">Société/Entreprises</h2></center>
        <div class="row d-flex justify-content-center">
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-book"></span>
        			</div> <br> 
        			<h3><a href="#">Business Plan</a></h3> <br>
        			<p>4.490.000 GNF</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-building"></span>
        			</div>
        			<h3><a href="#">Création des entreprises(statuts, RI, RCCM, NIF)</a></h3>
        			<p>3.990.000 GNF</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-handshake"></span>
        			</div>
        			<h3><a href="#">Conseil/Assistance(statuts, RI, aide RCCM/NIF)</a></h3><br> 
        			<p>3.090.000 GNF</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-person-chalkboard"></span>
        			</div>
        			<h3><a href="#">Coaching de Jeunes Entrepreneurs (sur 3 mois)</a></h3> 
        			<p>2.500.000 GNF/mois</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-file-invoice-dollar"></span>
        			</div>
        			<h3><a href="#">Conseil externalisé(fiscal, comptable, RSE), gestion des achats</a></h3> 
        			<p>A négocier</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-briefcase"></span>
        			</div>
        			<h3><a href="#">Contrats Types Marchés Publics ou PPP</a></h3><br> 
        			<p>4.990.000 GNF/Cont</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-user-tie"></span>
        			</div>
        			<h3><a href="#">Conseil externalisé(fiscal, comptable, environnement)</a></h3>
        			<p>A négocier</p>
        		</div>
        	</div>
        </div>
    	</div>
    </section>

	
		<section class="ftco-section">
    	<div class="container">
			<center><h2 class="mb-3" id="tout">Tout Organisme</h2></center>
        <div class="row d-flex justify-content-center">
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-graduation-cap"></span>
        			</div>
        			<h3><a href="#">Renforcement de Capacités</a></h3> 
        			<p>A négocier</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-person-chalkboard"></span>
        			</div>
        			<h3><a href="#">Atelier/Séminaire</a></h3><br> 
        			<p>A négocier</p>
        		</div>
        	</div>
        	<div class="col-md-3 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="fas fa-book-open"></span>
        			</div>
        			<h3><a href="#">Autres prestations</a></h3><br> 
        			<p>A négocier</p>
        		</div>
        	</div>
        </div>
    	</div>
    </section>

    {% comment %} <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row d-flex justify-content-end">
        	<div class="col-md-8 py-4 px-md-4 bg-primary">
        		<div class="row">
		          <div class="col-md-6 ftco-animate d-flex align-items-center">
		            <h2 class="mb-0" style="color:white; font-size: 24px;">Subcribe to our Newsletter</h2>
		          </div>
		          <div class="col-md-6 d-flex align-items-center">
		            <form action="#" class="subscribe-form">
		              <div class="form-group d-flex">
		                <input type="text" class="form-control" placeholder="Enter email address">
		                <input type="submit" value="Subscribe" class="submit px-3">
		              </div>
		            </form>
		          </div>
	          </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}

{% endblock  %}