{% extends 'baseS.html' %}
{% load static %}


{% block content %}

<!-- Services Section -->
      <section id="services" class="services section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>
            Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
            consectetur velit
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4 justify-content-center">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <article class="service-item">
                <span class="service-icon rounded-circle">
                  <i class="bi bi-palette"></i>
                </span>
                <h3>
                  <a href="service-details.html">
                    Creative <span>branding</span>
                  </a>
                </h3>
                <p>
                  Suspendisse in ultricies ipsum. Nulla commodo sem ac tortor
                  rhoncus, vel volutpat magna varius. Nam porta felis non
                  convallis finibus.
                </p>
                <a
                  href="service-details.html"
                  class="card-action rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </article>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <article class="service-item">
                <span class="service-icon rounded-circle">
                  <i class="bi bi-gem"></i>
                </span>
                <h3>
                  <a href="service-details.html">
                    Design <span>systems</span>
                  </a>
                </h3>
                <p>
                  Fusce aliquet, nibh ac facilisis viverra, nulla purus aliquet
                  diam, quis consectetur risus dolor a diam. Vivamus convallis
                  lacinia magna.
                </p>
                <a
                  href="service-details.html"
                  class="card-action rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </article>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <article class="service-item">
                <span class="service-icon rounded-circle">
                  <i class="bi bi-megaphone"></i>
                </span>
                <h3>
                  <a href="service-details.html">
                    Marketing <span>strategies</span>
                  </a>
                </h3>
                <p>
                  Aliquam erat volutpat. Integer at sapien at risus elementum
                  ornare a sit amet odio. Mauris quis magna vel enim pretium
                  maximus.
                </p>
                <a
                  href="service-details.html"
                  class="card-action rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </article>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="250"
            >
              <article class="service-item">
                <span class="service-icon rounded-circle">
                  <i class="bi bi-code-slash"></i>
                </span>
                <h3>
                  <a href="service-details.html">
                    Digital <span>platforms</span>
                  </a>
                </h3>
                <p>
                  Sed in tortor eget lacus gravida dignissim eu sed leo. Etiam
                  sed aliquet massa, id imperdiet purus. Curabitur nec
                  ullamcorper lorem.
                </p>
                <a
                  href="service-details.html"
                  class="card-action rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </article>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <article class="service-item">
                <span class="service-icon rounded-circle">
                  <i class="bi bi-graph-up"></i>
                </span>
                <h3>
                  <a href="service-details.html">
                    Growth <span>acceleration</span>
                  </a>
                </h3>
                <p>
                  Pellentesque faucibus, augue at maximus ultricies, metus velit
                  malesuada elit, vitae tristique lorem dui sed tellus. Integer
                  sed tortor sed.
                </p>
                <a
                  href="service-details.html"
                  class="card-action rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </article>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="350"
            >
              <article class="service-item">
                <span class="service-icon rounded-circle">
                  <i class="bi bi-camera-video"></i>
                </span>
                <h3>
                  <a href="service-details.html">
                    Media <span>solutions</span>
                  </a>
                </h3>
                <p>
                  Morbi dapibus metus ac condimentum pellentesque. Curabitur
                  eget dictum lacus. Cras et augue vitae ex dictum tincidunt
                  quis quis tellus.
                </p>
                <a
                  href="service-details.html"
                  class="card-action rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-arrow-up-right"></i>
                </a>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- /Services Section -->

      <!-- Stats Section -->
      <section id="stats" class="stats section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="stats-hero row align-items-center mb-5">
            <div
              class="col-lg-7 mb-4 mb-lg-0"
              data-aos="fade-right"
              data-aos-delay="200"
            >
              <h3 class="headline mb-3">
                Transforming Data Into Impactful Insights
              </h3>
              <p class="lead">
                Nunc euismod, tortor nec facilisis egestas, ligula turpis cursus
                odio, a lobortis sapien ipsum et dolor. Morbi dignissim cursus
                massa non lobortis.
              </p>
            </div>
            <div
              class="col-lg-5 text-lg-end text-center"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div
                class="stats-rating d-inline-flex align-items-center py-3 px-4 shadow-sm"
              >
                <img
                  src="{% static 'assets/img/about/about-1.webp' %}"
                  class="img-fluid stats-rating-img me-3"
                  alt="User Group"
                  width="64"
                  height="48"
                />
                <div>
                  <div class="rating-score d-flex align-items-center mb-1">
                    <span class="fs-5 fw-semibold me-2">4.8/5</span>
                    <span class="stars">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                    </span>
                  </div>
                  <div class="user-feedback small">
                    Based on 70+ unique user reviews
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="stats-counters row gy-4 justify-content-center">
            <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="100">
              <article class="stats-counter-card">
                <div class="counter-value mb-1">
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="120"
                    data-purecounter-duration="1.5"
                    class="purecounter"
                  ></span
                  >K+
                </div>
                <small class="label">Active Clients</small>
              </article>
            </div>
            <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="200">
              <article class="stats-counter-card">
                <div class="counter-value mb-1">
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="34"
                    data-purecounter-duration="1.5"
                    class="purecounter"
                  ></span
                  >K+
                </div>
                <small class="label">Analytics Projects</small>
              </article>
            </div>
            <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="300">
              <article class="stats-counter-card">
                <div class="counter-value mb-1">
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="97"
                    data-purecounter-duration="1.5"
                    class="purecounter"
                  ></span
                  >%
                </div>
                <small class="label">Automation Success</small>
              </article>
            </div>
            <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="400">
              <article class="stats-counter-card">
                <div class="counter-value mb-1">
                  <span
                    data-purecounter-start="0"
                    data-purecounter-end="99.96"
                    data-purecounter-duration="1.5"
                    class="purecounter"
                  ></span
                  >%
                </div>
                <small class="label">Cloud Reliability</small>
              </article>
            </div>
          </div>
          <!-- End stats counters -->
        </div>
      </section>
      <!-- /Stats Section -->

{% endblock %}