{% extends 'admin_base2.html' %}

{% block content %}

<div class="profile-container">
    <div class="profile-header">
        <h1 class="profile-title">Mon Profil</h1>
    </div>
    <div class="profile-card">
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form.bio.label_tag }}
                </div>
                <div class="col-12 col-md-9">
                    {{ form.bio }}
                    {% for error in form.bio.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    {{ form.profile.label_tag }}    
                </div>
                <div class="col-12 col-md-9">
                    <div class="custom-file">
                        {{ form.profile }}
                        <label class="custom-file-label" for="id_profile">Choisir une image...</label>
                    </div>
                    {% for error in form.profile.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <div class="form-actions float-right">
                <button type="submit" class="btn btn-info btn-round">
                    <i class="fas fa-save"></i> Enregistrer
                </button>
            </div>
        </form>


{% endblock content %}